<!DOCTYPE html>
<html lang="pt">

<head>
    <title>GRUPO ZAFFARI - Power BI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="refresh" content="600"  url="pesquisa_satisfacao_ura.html">
    <link rel="stylesheet" type="text/css" href="../dist/css/adminx.css" media="screen" />
    
    <!-- this is only relevant for the demo -->
    <link rel="stylesheet" href="../demo/demo.css">



</head>

<body>
    <div class="adminx-container">
        <nav class="navbar navbar-expand justify-content-between fixed-top">
            <a class="navbar-brand mb-0 h1 d-none d-md-block" href="../index.html" style="font-weight: bold;">
                <img src="../demo/img/logo.png" class="navbar-brand-image d-inline-block align-top mr-2" alt="">
                GRUPO ZAFFARI
            </a>


            <form class="form-inline form-quicksearch d-none d-md-block mx-auto">
                <div class="input-group">
                    <div class="input-group-prepend">
                    </div>
                    <span class="navbar-brand mb-0 h1 d-none d-md-block" style="font-weight: bold;">
                        Pesquisa de Satisfação - URA
                    </span>
                </div>
            </form>


            <ul class="navbar-nav d-flex justify-content-end mr-2">
                
                <a class="nav-link avatar-with-name"  href="https://login.microsoftonline.com/common/oauth2/logout?post_logout_redirect_uri=http%3A%2F%2Flocalhost%2Fmyapp%2F">
                        <img src="../demo/img/logout.png" class="d-inline-block align-top" alt="Logout">
                    </a>
               
            </ul>
        </nav>

        <!-- expand-hover push -->
        <!-- Sidebar -->
        <div class="adminx-sidebar expand-hover push">
            <ul class="sidebar-nav">


                <!-- Início -->
                <li class="sidebar-nav-item">
                    <a href="../index.html" class="sidebar-nav-link ">
                        <span class="sidebar-nav-icon">
                            <i data-feather="home"></i>
                        </span>
                        <span class="sidebar-nav-name">
                            Início
                        </span>
                        <span class="sidebar-nav-end">

                        </span>
                    </a>
                </li>
                <!-- ###### FINAL ###### -->


                <!-- Boletim Operacional - SEM expansão -->
                <li class="sidebar-nav-item">
                    <a class="sidebar-nav-link collapsed " href="/layouts/boletim_operacional.html">
                        <span class="sidebar-nav-icon">
                            <i data-feather="bar-chart"></i>
                        </span>
                        <span class="sidebar-nav-name">
                            Boletim Operacional
                        </span>
                        <span class="sidebar-nav-end">
                        </span>
                    </a>
                </li>
                <!-- ###### FINAL ###### -->

                <!-- Dashboard - SEM expansão -->
                <li class="sidebar-nav-item">
                    <a class="sidebar-nav-link collapsed" href="/layouts/dashboard.html">
                        <span class="sidebar-nav-icon">
                            <i data-feather="bar-chart"></i>
                        </span>
                        <span class="sidebar-nav-name">
                            Dashboard
                        </span>
                        <span class="sidebar-nav-end">
                        </span>
                    </a>
                </li>
                <!-- ###### FINAL ###### -->


                <!-- Pesquisa de Satsifação - SEM expansão -->
                <li class="sidebar-nav-item">
                    <a class="sidebar-nav-link collapsed " href="/layouts/pesquisa_satisfacao.html">
                        <span class="sidebar-nav-icon">
                            <i data-feather="bar-chart"></i>
                        </span>
                        <span class="sidebar-nav-name">
                            Pesquisa de Satisfação
                        </span>
                        <span class="sidebar-nav-end">
                        </span>
                    </a>
                </li>
                <!-- ###### FINAL ###### -->


                <!-- Pesquisa de Satsifação - URA - SEM expansão -->
                <li class="sidebar-nav-item">
                    <a class="sidebar-nav-link collapsed active" href="/layouts/pesquisa_satisfacao_ura.html">
                        <span class="sidebar-nav-icon">
                            <i data-feather="bar-chart"></i>
                        </span>
                        <span class="sidebar-nav-name">
                            Pesquisa de Satisfação - URA
                        </span>
                        <span class="sidebar-nav-end">
                        </span>
                    </a>
                </li>
                <!-- ###### FINAL ###### -->


                <!-- Process Management - SEM expansão -->
                <li class="sidebar-nav-item">
                    <a class="sidebar-nav-link collapsed" href="/layouts/process_management.html">
                        <span class="sidebar-nav-icon">
                            <i data-feather="bar-chart"></i>
                        </span>
                        <span class="sidebar-nav-name">
                            Process Management
                        </span>
                        <span class="sidebar-nav-end">
                        </span>
                    </a>
                </li>
                <!-- ###### FINAL ###### -->


                <!-- Process Management - V2 - SEM expansão -->
                <li class="sidebar-nav-item">
                    <a class="sidebar-nav-link collapsed" href="/layouts/process_management_v2.html">
                        <span class="sidebar-nav-icon">
                            <i data-feather="bar-chart"></i>
                        </span>
                        <span class="sidebar-nav-name">
                            Process Management - V2
                        </span>
                        <span class="sidebar-nav-end">
                        </span>
                    </a>
                </li>
                <!-- ###### FINAL ###### -->


                <!-- Relatório de Backlog - SEM expansão -->
                <li class="sidebar-nav-item">
                    <a class="sidebar-nav-link collapsed" href="/layouts/relatorio_backlog.html">
                        <span class="sidebar-nav-icon">
                            <i data-feather="bar-chart"></i>
                        </span>
                        <span class="sidebar-nav-name">
                            Relatório de Backlog
                        </span>
                        <span class="sidebar-nav-end">
                        </span>
                    </a>
                </li>
                <!-- ###### FINAL ###### -->


                <!-- Relatório de Chamados - SEM expansão -->
                <li class="sidebar-nav-item">
                    <a class="sidebar-nav-link collapsed" href="/layouts/relatorio_chamados.html">
                        <span class="sidebar-nav-icon">
                            <i data-feather="bar-chart"></i>
                        </span>
                        <span class="sidebar-nav-name">
                            Relatório de Chamados
                        </span>
                        <span class="sidebar-nav-end">
                        </span>
                    </a>
                </li>
                <!-- ###### FINAL ###### -->


                <!-- Relatório Mil - SEM expansão -->
                <li class="sidebar-nav-item">
                    <a class="sidebar-nav-link collapsed" href="/layouts/relatorio_mil.html">
                        <span class="sidebar-nav-icon">
                            <i data-feather="bar-chart"></i>
                        </span>
                        <span class="sidebar-nav-name">
                            Relatório Mil
                        </span>
                        <span class="sidebar-nav-end">
                        </span>
                    </a>
                </li>
                <!-- ###### FINAL ###### -->
                
                <!-- Relatório Operacional - SEM expansão -->
                <li class="sidebar-nav-item">
                    <a class="sidebar-nav-link collapsed" href="/layouts/relatorio_operacional.html">
                        <span class="sidebar-nav-icon">
                            <i data-feather="bar-chart"></i>
                        </span>
                        <span class="sidebar-nav-name">
                            Relatório Operacional
                        </span>
                        <span class="sidebar-nav-end">
                        </span>
                    </a>
                </li>
                <!-- ###### FINAL ###### -->
                
                <!-- Reunião - N2 - SEM expansão -->
                <li class="sidebar-nav-item">
                    <a class="sidebar-nav-link collapsed" href="/layouts/reuniao_n2.html">
                        <span class="sidebar-nav-icon">
                            <i data-feather="bar-chart"></i>
                        </span>
                        <span class="sidebar-nav-name">
                            Reunião - N2
                        </span>
                        <span class="sidebar-nav-end">
                        </span>
                    </a>
                </li>
                <!-- ###### FINAL ###### -->
                
                
                <!-- Reunião - N3 - SEM expansão -->
                <li class="sidebar-nav-item">
                    <a class="sidebar-nav-link collapsed" href="/layouts/reuniao_n3.html">
                        <span class="sidebar-nav-icon">
                            <i data-feather="bar-chart"></i>
                        </span>
                        <span class="sidebar-nav-name">
                            Reunião - N3
                        </span>
                        <span class="sidebar-nav-end">
                        </span>
                    </a>
                </li>
                <!-- ###### FINAL ###### -->
                
                <!-- Massa de Chamados - SEM expansão -->
                <li class="sidebar-nav-item">
                    <a class="sidebar-nav-link collapsed" href="/layouts/massa_chamados.html">
                        <span class="sidebar-nav-icon">
                            <i data-feather="bar-chart"></i>
                        </span>
                        <span class="sidebar-nav-name">
                            Massa de Chamados
                        </span>
                        <span class="sidebar-nav-end">
                        </span>
                    </a>
                </li>
                <!-- ###### FINAL ###### -->

            </ul>
        </div><!-- Sidebar Endi -->

        <!-- adminx-content-aside -->
        <div class="adminx-content">
            <!-- <div class="adminx-aside">

        </div> -->

            <div class="adminx-main-content">
                <div class="container-fluid">


                    <div class="row">

                        <div class="embed-responsive embed-responsive-16by9">


                            <iframe style="position:absolute;" src="https://app.powerbi.com/reportEmbed?reportId=8e600579-52e4-423a-a6c4-c876f7ac8a0d&autoAuth=true&ctid=7eeaf7b1-2bde-4802-971e-d0a635e4af3a&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLW5vcnRoLWNlbnRyYWwtZy1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true">
                            </iframe>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- If you prefer jQuery these are the required scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script src="../dist/js/vendor.js"></script>
    <script src="../dist/js/adminx.js"></script>
    <script src="/bower_components/powerbi-client/dist/powerbi.js"></script>

    <!-- If you prefer vanilla JS these are the only required scripts -->
    <!-- script src="./dist/js/vendor.js"></script> -->
    <script src="../dist/js/adminx.vanilla.js"></script>









</body></html>
